/CF118A_StringTask.class
/CF339A_HelpfulMaths.class
/CF118B_XeniaAndRingroad.class
/CF118B_XAR_Improved.class
/CF4C_RegistrationSystem.class
/CF1A_TheatreSquare.class
/CF339B_XeniaAndRingroad.class
/CF339B_XAR_Improved.class
/CF69A_YoungPhysicist.class
/CF263A_BeautifulMatrix.class
/CF266B_QueueAtTheSchool.class
/CF32B_Borze.class
